/* Variables */
:root {
    /* Colors */
    --main-black-color: #000;
    --main-white-color: #fff;
    --main-red-color: #f40612;
    --main-redlight-color: #e50914;
    --main-grey-color: #222;
    --main-greylight-color: #b3b3b3;
    --secondary-grey-color: #303030;       

    /* Font sizes */
    --fs-10: 10px;
    --fs-12: 12px;
    --fs-13: 13px;
    --fs-14: 14px
    --fs-16: 16px;
    --fs-24: 24px;
    --fs-32: 32px;
    --fz-55: 55px;
}

/* Geral */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    color: var(--main-white-color);
    border: none;
}

body {
    background-image: url(../img/fundoMovie.jpeg);
    background-size: cover;
    background-position-y: -200px;    
}

.titulo {
    color: var(--main-redlight-color);
    font-weight: bold;
    font-size: var(--fz-55);
    letter-spacing: -2px;
    margin-left: 15px;
}

input:focus {
    outline: none;
    border-bottom: 2px solid orangered;
}

a {
    font-size: .7rem;       
}

a:hover {
    color: var(--main-white-color);
}

/* container login */
#login-container {
    background-color: var(--main-black-color);
    width: 380px;
    height: 550px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px 30px;
    margin-top: 10vh;
    border-radius: 10px;
    text-align: left;
    opacity: 88%;
}

/* formulário */
form {
    margin-top: 30px;
    margin-bottom: 40px;
    margin-left: 15px;
    margin-right: 15px;
}

input {
    background-color: var(--secondary-grey-color);
    display: block;
    width: 100%;
    text-align: left;
    border-bottom: 2px solid #323232;
    padding: 10px;
    font-size: 1rem;
    margin-bottom: 20px;
    border-radius: 5px;
    font-size: var(--fs-14);
}

input[type="submit"] {
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    border: none;
    height: 40px;
    border-radius: 5px;
    margin-top: 30px;
    color: var(--main-text-color);
    background-color: var(--main-red-color);
    cursor: pointer;
}

/* caixa de checagem */
input[type="checkbox"] {
    background-color: var(--main-greylight-color);
}
label {
    font-size: var(--fs-10);
    color: var(--main-greylight-color);
} 

/* redes sociais */
#social-container img {
    height: 18px;
    width: 18px;    
    margin-left: 15px;
    margin-right: 5px
}

.assinatura {
    font-size: var(--fs-14);
    color: var(--main-greylight-color);
    margin-top: 20px;
    margin-left: 15px;
    margin-right: 15px   
}

#assinar {
    color: var(--main-white-color);
    font-size: var(--fs-14);    
}

button {
    background-color: var(--main-black-color);        
}

.button-conectar {
    font-size: var(--fs-12); 
    color: var(--main-greylight-color);      
}

#help {
    color: var(--main-greylight-color);
    margin-left: 85px;      
}

.saiba-mais {
    margin-top: 20px;
    font-size: var(--fs-12);
    color: var(--main-greylight-color);
    margin-left: 15px;
    margin-right: 15px    
}

/* container rodapé */
#footer-container {   
    background-color: var(--main-black-color); 
    height: 200px;
    margin-top: 70px; 
    opacity: 88%;  
}

.duvida {
    font-size: var(--fs-13);
    color: var(--main-greylight-color);
    margin-left: 265px; 
    margin-top: 20px;         
}

#telefone {
    color: var(--main-greylight-color);
    font-size: var(--fs-14);  
}

.nav-link {    
    color: var(--main-greylight-color);
    margin-right: 30px;   
}

.nav-link:hover {
    color: var(--main-white-color);
}

.nav-item-perguntas {    
    margin-left: 250px;
}

